*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    position: relative;
    height: 72px;
    background-color: #75DB4B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
 }
 
 .search .btn{
    position: relative;
    right: 31px;
    top: 19px;
    background: url("/www/img/icon/search.png");
    background-size: cover;
    border: none;
    height: 21px;
    width: 21px;
 }
 .search{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    margin-left: 24px;
 }
 
 .search input{
   position: relative;
   width: 288px;
   height: 36px;
   border-radius: 10px;
   border: none;
   top: 10px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   padding-left: 10px;
   box-shadow: 0px 2px 1px #00000029;
   margin: 0;
 } 


 .container{
     position: relative;
     width: 100%;
     height: auto;
     margin: 12px 16px 0 0px;
 }

 .container div{
     position: relative;

     height: 32px;
     margin: 15px;
     border-radius: 10px;
     background: #F5F5F5 0% 0% no-repeat padding-box;
     box-shadow: 0px 1px 1px #00000029;
 }

 .container div button{
     position: absolute;
     margin-top: 4px;
     width: 328px;
     border: none;
     background: none;
 }

 nav{
    position: fixed;
    display: flex;
    box-shadow: 0px -4px 6px #00000029;
    height: 45px;
    width: 100%;
    bottom: 0;
    justify-content: space-around;
    background: white 0% 0% no-repeat padding-box;
 }

 nav input{
    width: 25px;
    height: 29px;
    margin-top: 0px;
    background-repeat: no-repeat;
   background-position: 50%;
   background-size: 21px;
   margin-left: 3px;
   padding: 0;
   border: none;
   background-color: white;
 }


 nav .main input{
    background-image: url("/www/img/icon/main.png");
 }

 nav .rolled input{
   background-image: url("/www/img/icon/rolled.png");
}

nav .basket input{
   background-image: url("/www/img/icon/basket.png");
}

nav .profile input{
   background-image: url("/www/img/icon/profile.png");
}

nav .main p{
   position: absolute;
   top: 25px;
   width: 27px;
   height: 10px;
   font: normal normal normal 10px/9px Roboto;
   color: black;
}

nav .rolled p{
   position: absolute;
   top: 25px;
   width: 27px;
   height: 9px;
   left: 33%;
   font: normal normal normal 10px/9px Roboto;
   color: black;
}

nav .basket p{
   position: absolute;
   top: 25px;
   width: 27px;
   height: 9px;
   left: 58%;
   font: normal normal normal 10px/9px Roboto;
   color: black;
}

nav .profile p{
   position: absolute;
   top: 25px;
   width: 27px;
   height: 9px;
   left: 82.2%;
   font: normal normal normal 10px/9px Roboto;
   color: black;
}

